html, body {
    margin: 0;
}

* {
    font-family: 'Lato Medium', sans-serif;
}

table {
    page-break-inside: avoid;
    page-break-after: always;
    border-collapse: collapse;
    width: 100vw;
    height: 100vh;
    margin-top: 3rem;
}

@media print 
{
    table {
        margin-top: 0;
    }
} 

th {
    font-family: 'Lato Hairline', sans-serif;
    padding: 0;
    padding-bottom: 1rem;
    height: 2.5rem;
}

th.month {
    text-align: center !important;
    font-size: 2.5rem;
}

td {
    padding: 0 1rem;
    border: 0.1rem solid #EEE;
}

.no_work td{
    background-color: #EEE !important;
    border-color: white;
}

span {
    padding-right: 1rem;
}

span.birthday {
    color: #999;
}

span.holiday, .no_work {
    color: green;
}

/* column-based styles */
/* first two columns (with day nr and name) */
table td:nth-child(-n+2) {
    text-align: center;
    background-color: #EEE !important;
    border-color: white;
    padding: 0 0.5rem;
}

/** columns 3 and 4 - with holidays and empty space */
table td:nth-child(n+3) {
    width: 47vw;
}